<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bill Management</title>
    </head>
    <body>
        <form action="selected_month/">
            <div>
                <label for="month">Select Month</label>
                <input id="month" type="month" name="month"
                       min="2020-01" max="2030-12" required>
                <span class="validity"></span>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>